<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
      <!--SideBar-->
      <ul class="ulSlide">
        <li class="nav-item liSlide">
          <a class="nav-link" href="usuario-inicioGM"><h5>Inicio</h5></a>
        </li>
        <li class="nav-item liSlide">
          <a class="nav-link" href="usuario-heroesGM"><h5>Participantes</h5></a>
        </li>
        <li class="nav-item liSlide">
          <a class="nav-link" href="usuario-mapasGM"><h5>Mapas/Localizaciones</h5></a>
        </li>
        <li class="nav-item liSlide">
          <a class="nav-link" href="usuario-historiaGM"><h5>Historia</h5></a>
        </li>
        <li class="nav-item liSlide">
          <a class="nav-link" href="usuario-npcGM"><h5>Fichas NPCs</h5></a>
        </li>
      </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!--Menu-->
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="example-spacer"></span>
      <a href="usuario-partidasUsuario">Salir Partida</a>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a href="perfil">
          <button mat-menu-item>Perfil</button>
        </a>
        <button mat-menu-item>Cerrar Sesion</button>
      </mat-menu>
    </mat-toolbar>
  </div>
</mat-drawer-container>
