<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
      <!--SideBar-->
      <ul class="ulSlide">
        <li class="nav-item liSlide">
          <a class="nav-link" href="usuario-inicioJugador"><h5>Inicio</h5></a>
        </li>
        <li class="nav-item liSlide">
          <a class="nav-link" href="usuario-mapasJugador"><h5>Mapas/Localizaciones</h5></a>
        </li>
        <li class="nav-item liSlide">
          <a class="nav-link" href="usuario-historiaJugador"><h5>Historia</h5></a>
        </li>
        <li class="nav-item liSlide">
          <a class="nav-link" href="usuario-heroesJugador"><h5>Fichas Heroes</h5></a>
        </li>
        <li class="nav-item liSlide">
          <a class="nav-link" href="usuario-npcJugador"><h5>Fichas NPCs</h5></a>
        </li>
      </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!--Menu-->
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="example-spacer"></span>
      <a href="usuario-partidasUsuario">Salir Partida</a>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a href="perfil">
          <button mat-menu-item>Perfil</button>
        </a>
        <button mat-menu-item>Cerrar Sesion</button>
      </mat-menu>
    </mat-toolbar>

    <div>
      <button mat-raised-button (click)="openDialog2()" color="primary">Crear mi Personaje</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="nombreHeroes">
        <th mat-header-cell *matHeaderCellDef> Nombre Heroes </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreHeroes}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="acceder">
        <th mat-header-cell *matHeaderCellDef> Más Información </th>
        <td mat-cell *matCellDef="let element"><button mat-button (click)="openDialog()">Acceder</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</mat-drawer-container>
