<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
      <!--SideBar-->
      <ul class="ulSlide">
        <li class="nav-item">
          <button mat-flat-button color="accent" (click)="navegar('usuario-inicioGM')"><mat-icon fontIcon="home" class=""></mat-icon>Inicio</button>
        </li>
        <li class="nav-item">
          <button mat-flat-button color="accent" (click)="navegar('usuario-heroesGM')">Participantes</button>
        </li>
        <li class="nav-item">
          <button mat-flat-button color="accent" (click)="navegar('usuario-mapasGM')">Mapas/Localizaciones</button>
        </li>
        <li class="nav-item">
          <button mat-flat-button color="accent" (click)="navegar('usuario-historiaGM')">Historia</button>
        </li>
      </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!--Menu-->
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="example-spacer"></span>
      <a href="usuario-partidasUsuario">Salir Partida</a>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a href="perfil">
          <button mat-menu-item>Perfil</button>
        </a>
        <button mat-menu-item>Cerrar Sesion</button>
      </mat-menu>
    </mat-toolbar>
  </div>
</mat-drawer-container>
