<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
      <!--SideBar-->
      <ul class="ulSlide">
        <li class="nav-item">
          <button mat-flat-button color="accent" (click)="navegar('usuario-inicioGM')"><mat-icon fontIcon="home" class=""></mat-icon>Inicio</button>
        </li>
        <li class="nav-item">
          <button mat-flat-button color="accent" (click)="navegar('usuario-heroesGM')">Participantes</button>
        </li>
        <li class="nav-item">
          <button mat-flat-button color="accent" (click)="navegar('usuario-mapasGM')">Mapas/Localizaciones</button>
        </li>
        <li class="nav-item">
          <button mat-flat-button color="accent" (click)="navegar('usuario-historiaGM')">Historia</button>
        </li>
      </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!--Menu-->
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="example-spacer"></span>
      <a href="inicio">Salir Partida</a>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a href="perfil">
          <button mat-menu-item>Perfil</button>
        </a>
        <a href="">
          <button mat-menu-item>Cerrar Sesion</button>
        </a>
      </mat-menu>
    </mat-toolbar>

    <form class="form-historia">
      <mat-form-field class="example-full-width">
        <mat-label><h1>Historia del Mundo</h1></mat-label>
        <textarea matInput value="
        Reinos Olvidados (o simplemente Los Reinos) es un universo de ficción que constituye un escenario de campaña para el juego de rol Dungeons & Dragons. Fue creado por el diseñador de juegos canadiense Ed Greenwood como su propio escenario de campaña, y detallado a lo largo de una larga serie de artículos en la revista Dragón a partir del año 1985. Durante los años 1990 se constituyó como el escenario o ambientación más popular entre los jugadores de Dungeons & Dragons. La mayor parte de la acción transcurre en el supercontinente de Faerûn, parte de un vasto mundo llamado Abeir-Toril con ciertos paralelismos con el mundo real.

Además de su trascendencia en la historia de Dungeons & Dragons, existen numerosas novelas ambientadas en este mundo, destacando, entre otras, la saga de Drizzt Do'Urden escrita por R.A. Salvatore. Los Reinos Olvidados también es un escenario popular como lugar de ambientación de juegos de PC como la saga de Baldur's Gate (Puerta de Baldur), IceWind Dale o Neverwinter Nights.

Los Reinos son en la actualidad un mundo fantástico altamente desarrollado y coherente, que comprende multitud de personajes, lugares, organizaciones y tramas, detallados en una larga serie de suplementos de juego, novelas y accesorios publicados desde finales de los ochenta.">

        </textarea>
      </mat-form-field>
    </form>
  </div>
</mat-drawer-container>
