<mat-card class="example-card">
  <div mat-card-avatar class="example-header-image"></div>
  <div class="example-header">
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>
      <a href="">Editar Perfil</a>
    </mat-card-subtitle>
  </div>
  <img class="image-perfil" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <th colspan="2">DATOS DEL USUARIO</th>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Actividad</mat-label>
              <input matInput matInput placeholder="contraseña...">
            </mat-form-field>
          </td>
          <td rowspan="4">
            <label>Cambiar contraseña</label>
            <mat-form-field class="example-full-width">
              <mat-label>Contraseña</mat-label>
              <input matInput matInput placeholder="contraseña...">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Repetir Contraseña</mat-label>
              <input matInput matInput placeholder="repetir contraseña...">
            </mat-form-field>
            <button type="button" color="warn">Cambiar Contreseña</button>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Pais</mat-label>
              <input matInput matInput placeholder="contraseña...">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <mat-label>Edad</mat-label>
            <input matInput matInput placeholder="contraseña...">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Horas</mat-label>
              <input matInput matInput disabled value="120" placeholder="horas jugadas...">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Descripción</mat-label>
              <textarea matInput value="Contenido de la descripción" placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
          </td>
        </tr>

      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <a href="inicio">
      <button mat-button>Volver</button>
    </a>
    <a href="">
      <button mat-button>Cerrar Sesion</button>
    </a>
  </mat-card-actions>
</mat-card>


