<mat-card style="background-color: rgb(221, 221, 221);" class="example-card">
  <div mat-card-avatar class="example-header-image"></div>
  <div class="example-header">
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>
      <a href="">Editar Perfil</a>
    </mat-card-subtitle>
  </div>
  <img class="image-perfil" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
</mat-card>
<form #perfilForm="ngForm">
  <mat-grid-list cols="4" rowHeight="3:1">
    <h1 style="margin-left: 7%;">Datos de Interes</h1>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="formField">
        <mat-label>Actividad</mat-label>
        <input matInput placeholder="contraseña...">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="formField">
          <mat-label>Pais</mat-label>
          <input matInput placeholder="contraseña...">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="formField">
        <mat-label>Edad</mat-label>
        <input matInput placeholder="contraseña...">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="formField">
        <mat-label>Horas</mat-label>
        <input matInput disabled value="120" placeholder="horas jugadas...">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="formField">
        <mat-label>Descripción</mat-label>
        <textarea matInput value="Contenido de la descripción" placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="3:1">
    <h1 style="margin-left: 7%;">Cambio de contraseña</h1>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="formField">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="contraseña...">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="formField">
        <mat-label>Repetir Contraseña</mat-label>
        <input matInput placeholder="repetir contraseña...">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <button style="margin-left: 7%; " mat-flat-button color="accent" [disabled]="perfilForm.invalid" type="submit">Cambiar Contreseña</button>
</form>
<a href="inicio">
  <button style="margin-top: 1%; margin-left: 1%; float: right;"mat-flat-button color="accent">Volver</button>
</a>
<a href="">
  <button style="margin-top: 1%; margin-left: 1%; float: right;" mat-flat-button color="accent">Cerrar Sesión</button>
</a>


