<mat-card style="background-color: rgb(221, 221, 221);" class="example-card">

    <img id="avatar" mat-card-avatar src="{{datosUser.urlImage}}">

  <div class="example-header">
    <mat-card-title>{{datosUser.nombre}}</mat-card-title>
    <mat-card-subtitle>
      <a href="">Editar Perfil</a>
    </mat-card-subtitle>
  </div>
  <img class="image-perfil" src="{{datosUser.urlImage}}" alt="Profile pic">
</mat-card>
<form #perfilForm="ngForm">
  <mat-grid-list cols="4" rowHeight="3:1">
    <h1 style="margin-left: 7%;">Datos de Interes</h1>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="formField">
        <mat-label>Actividad</mat-label>
        <input matInput value="{{datosUser.activo}}">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="formField">
          <mat-label>Pais</mat-label>
          <input matInput value="{{datosUser.pais}}">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="formField">
        <mat-label>Edad</mat-label>
        <input matInput value="{{datosUser.fechaNacimiento}}">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="formField">
        <mat-label>Horas</mat-label>
        <input matInput disabled value="120" placeholder="horas jugadas...">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="formField">
        <mat-label>Biografía</mat-label>
        <textarea matInput value="{{datosUser.biografia}}" placeholder="Tu biografía"></textarea>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="3:1">
    <h1 style="margin-left: 7%;">Cambio de contraseña</h1>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="formField">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="contra" [ngModelOptions]="{standalone: true}" required="required" placeholder="contraseña...">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="formField">
        <mat-label>Repetir Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="contra2" [ngModelOptions]="{standalone: true}" required="required" placeholder="repetir contraseña...">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <button style="margin-left: 7%; " mat-flat-button color="accent" [disabled]="perfilForm.invalid" type="submit" (click)="cambiarContrasenia()">Cambiar Contraseña</button>
</form>
<a href="/">
  <button style="margin-top: 1%; margin-left: 1%; float: right;"mat-flat-button color="accent">Volver</button>
</a>
<a>
  <button style="margin-top: 1%; margin-left: 1%; float: right;" mat-flat-button (click)="cerrarSesion()" color="accent">Cerrar Sesión</button>
</a>


