<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
      <!--SideBar-->
      <ul class="ulSlide">
        <li class="nav-item liSlide">
          <a class="nav-link" href="panelControl-admin"><h5>Panel de Control</h5></a>
        </li>
        <li class="nav-item liSlide">
          <a class="nav-link" href="usuarios-admin"><h5>Usuarios</h5></a>
        </li>
        <li class="nav-item liSlide">
          <a class="nav-link" href="partidas-admin"><h5>Partidas</h5></a>
        </li>
        <li class="nav-item liSlide">
          <a class="nav-link" href="equipamiento-admin"><h5>Equipamiento</h5></a>
        </li>
      </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!--Menu-->
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <a class="nav-link" href="">Salir Admin</a>
      <span class="example-spacer"></span>
      <button class="button">Perfil</button>
    </mat-toolbar>
  </div>
</mat-drawer-container>
