<p>Insertar usuario:</p>

<br>

<form #usuarioForm="ngForm" (ngSubmit)="submitedFormUsuario(usuarioForm)">
  Nombre:
	<input type="text" ngModel name="nombre" placeholder="nombre" required>
	Apellidos:
	<input type="text"ngModel name="apellidos" placeholder="apellidos"required>
	Contraseña:
	<input type="password" ngModel name="contrasenia" placeholder="contrasenia"required>
	<br>Nickname:
  <input type="text" ngModel name="nickname" placeholder="nickname">
	Biografia:
  <input type="text" ngModel name="biografia" placeholder="biografia">
	E-mail:
  <input type="text" ngModel name="e-mail" placeholder="E-MAIL"required>
	<br>Fecha de nacimiento:
  <input type="datetime" ngModel name="fechaNac" placeholder="fecha de nacimiento" required>
	URL de la imagen de usuario:
  <input type="text" ngModel name="urlImage" placeholder="URL de la imagen">
	Pais:
  <input type="text" ngModel name="pais" placeholder="pais">

  <br>
	<button [disabled]="usuarioForm.invalid" type="submit">Guardar</button>


  {{nombre}}

  <br>
</form>
