.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  justify-content: space-between;
}
.mat-form-field{
  margin-left: 8px;
  margin-top: 5px;
}
.mat-checkbox{
  margin: 3px;
  margin-bottom:10px;
}

.p-equipo{
  margin-top:10px;
  margin-bottom: 5px;
  margin-left: 5px;
}
