<div class="login">
  <form class="custom-form" method="post">
    <div style="padding: 10px;">
      <img src="https://media.discordapp.net/attachments/817124115596443709/1050142083488428082/dndlogo.png?width=654&height=663" alt="">
      <h1 style="font-size:60px; text-align:center; padding-right: 5%; padding-top: 1%; padding-bottom: 1%;"><b>D&DTools</b></h1>
    </div>
    <h1>Login</h1>
    <input
      type="nickname"
      [(ngModel)]="nickname"
      name="nickname"
      placeholder="Nickname"
      required="required"
    />
    <br>
    <input
      type="password"
      [(ngModel)]="contrasenia"
      name="contraseña"
      placeholder="contraseña"
      required="required"
    />
    <button type="submit" (click)="trylogin()">Entrar</button>
    <br>
    <button type="button" (click)="goToPage('registro')">Registrarse</button>
  </form>

  <div id="mensajelogin" class="mensajelogin">

  </div>

</div>
