<p>Insertar usuario:</p>

<br>

<form #usuarioForm="ngForm" (ngSubmit)="submitedFormUsuario()">
  Nombre:
	<input type="text" name="nombre" placeholder="nombre" [(ngModel)]="usuarioModel.nombre">
	Apellidos:
	<input type="text" name="apellidos" placeholder="apellidos" [(ngModel)]="usuarioModel.apellidos">
	Contraseña:
	<input type="password" name="contrasenia" placeholder="contrasenia" [(ngModel)]="usuarioModel.contrasenia">
	<br>Nickname:
  <input type="text" name="nickname" placeholder="nickname" [(ngModel)]="usuarioModel.nickname">
	Biografia:
  <input type="text" name="biografia" placeholder="biografia" [(ngModel)]="usuarioModel.biografia">
	E-mail:
  <input type="text" name="e-mail" placeholder="E-MAIL" [(ngModel)]="usuarioModel.email">
	<br>Fecha de nacimiento:
  <input type="text" name="fechaNac" placeholder="fecha de nacimiento" [(ngModel)]="usuarioModel.fechaNac">
	URL de la imagen de usuario:
  <input type="text" name="urlImage" placeholder="URL de la imagen" [(ngModel)]="usuarioModel.urlImage">
	Pais:
  <input type="text" name="pais" placeholder="pais" [(ngModel)]="usuarioModel.pais">

  <br>
	<button type="submit">Guardar</button>

</form>

<h2>Depurando usuario:</h2>
{{ usuarioModel | json }}
