<p>Insertar usuario:</p>

<br>

<form #usuarioForm="ngForm" (ngSubmit)="submitedFormUsuario()">
  Nombre:
	<input type="text" name="nombre" placeholder="nombre" [(ngModel)]="nombre">
	Apellidos:
	<input type="text" name="apellidos" placeholder="apellidos" [(ngModel)]="apellidos">
	Contraseña:
	<input type="password" name="contrasenia" placeholder="contrasenia" [(ngModel)]="contrasenia">
	<br>Nickname:
  <input type="text" name="nickname" placeholder="nickname" [(ngModel)]="nickname">
	Biografia:
  <input type="text" name="biografia" placeholder="biografia" [(ngModel)]="biografia">
	E-mail:
  <input type="text" name="e-mail" placeholder="E-MAIL" [(ngModel)]="email">
	<br>Fecha de nacimiento:
  <input type="text" name="fechaNac" placeholder="fecha de nacimiento" [(ngModel)]="fechaNac">
	URL de la imagen de usuario:
  <input type="text" name="urlImage" placeholder="URL de la imagen" [(ngModel)]="urlImage">
	Pais:
  <input type="text" name="pais" placeholder="pais" [(ngModel)]="pais">

  <br>
	<button type="submit">Guardar</button>

</form>
