<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
      <!--SideBar-->
      <div>
        <ul class="nav justify-content-center controlUl">
          <li class="nav-item controlNavbar">
            <h1 class="h1control"></h1>
          </li>
          <li class="nav-item controlNavbar">
            <a class="nav-link" href="">Inicio</a>
          </li>
          <li class="nav-item controlNavbar">
            <a class="nav-link" href="#">Mas Información</a>
          </li>
          <li class="nav-item controlNavbar">
            <a class="nav-link" href="#">Mas sobre nosotros</a>
          </li>
          <li class="nav-item controlNavbar">
            <a class="nav-link" href="#">Contactanos</a>
          </li>
      </ul>
      </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!--Menu-->
      <mat-toolbar color="primary">
        <button type="button" mat-icon-button mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{title}}</span>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a href="perfil">
            <button mat-menu-item>Perfil</button>
          </a>
          <button mat-menu-item>Cerrar Sesion</button>
        </mat-menu>
      </mat-toolbar>
  </div>
  
  <!--Tabla-->
  <div>
    <table class="default">
      <tr>
        <th>Nombre Partida</th>
        <th>Tipo Jugador</th>
        <th></th>
      </tr>
      <tr>
        <td>Los Guerreros</td>
        <td>GameMaster</td>
        <td><a href="usuario-inicioGM">Acceder</a></td>
      </tr>
      <tr>
        <td>Ruta Peligrosa</td>
        <td>Jugador</td>
        <td><a href="usuario-inicioJugador">Acceder</a></td>
      </tr>
      <tr>
        <td>Mandolarios Facinantes</td>
        <td>Jugador</td>
        <td><a href="usuario-inicioJugador">Acceder</a></td>
      </tr>
    </table>
  </div>
</mat-drawer-container>



