
  <div>
    <ul class="nav justify-content-center controlUl">
      <li class="nav-item controlNavbar">
        <h1 class="h1control">{{title}}</h1>
      </li>
      <li>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <ul class="navbar-nav">
              <!-- Avatar -->
              <li mdbDropdown class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle d-flex align-items-center"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  mdbDropdownToggle
                  aria-expanded="false"
                >
                  <img
                    src="https://mdbootstrap.com/img/Photos/Avatars/img (31).webp"
                    class="rounded-circle"
                    height="22"
                    alt=""
                    loading="lazy"
                  />
                </a>
                <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="#">My profile</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Settings</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </li>
    </ul>
  </div>
  <div>
    <table class="default">
      <tr>
        <th>Nombre Partida</th>
        <th>Tipo Jugador</th>
        <th></th>
      </tr>
      <tr>
        <td>Los Guerreros</td>
        <td>GameMaster</td>
        <td><a href="usuario-inicioGM">Acceder</a></td>
      </tr>
      <tr>
        <td>Ruta Peligrosa</td>
        <td>Jugador</td>
        <td><a href="usuario-inicioJugador">Acceder</a></td>
      </tr>
      <tr>
        <td>Mandolarios Facinantes</td>
        <td>Jugador</td>
        <td><a href="usuario-inicioJugador">Acceder</a></td>
      </tr>
    </table>
  </div>



