<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
      <!--SideBar-->
      <div>
        <ul class="ulSlide">
          <li class="nav-item">
            <button mat-flat-button color="accent" (click)="navegar('')"><mat-icon fontIcon="home" class=""></mat-icon>Inicio</button>
          </li>
          <li class="nav-item">
            <button mat-flat-button color="accent" (click)="navegar('#')">Mas Información</button>
          </li>
          <li class="nav-item">
            <button mat-flat-button color="accent" (click)="navegar('#')">Mas sobre nosotros</button>
          </li>
          <li class="nav-item">
            <button mat-flat-button color="accent" (click)="navegar('#')">Contactanos</button>
          </li>
      </ul>
      </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!--Menu-->
      <mat-toolbar color="primary">
        <button type="button" mat-icon-button mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{title}}</span>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a href="perfil">
            <button mat-menu-item>Perfil</button>
          </a>
          <a href="">
            <button mat-menu-item>Cerrar Sesion</button>
          </a>
        </mat-menu>
      </mat-toolbar>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table >

    </table>
  </div>
</mat-drawer-container>



