/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
body{
  height:100vh;
  font-size: 13.5px;
}

.ng-sidebar
{
  background: rgb(26, 26, 33);
  width: 15rem ;
  /*margin-top:50px;
  margin-bottom:50px;*/
}

.divSide{
  padding: 10px;
}

.liSlide{
  padding: 5px;
  color:#0d6efd;
}

td{
  padding-left: 10px;
  padding-right: 10px;
}

.h5control{
  color:#0d6efd;
}

.ulSlide{
  list-style-type: none;
  padding: 0px;
}

.controlNavbar{
  padding-right:10px;
  display:block;
  margin:auto;
}

.controlUl{
 background: rgb(26, 26, 33);
}

.h1control{
  color:#0d6efd;
}
=======

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> origin/EnriqueBranch
