<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
      <!--SideBar-->
    <ul class="ulSlide">
      <li class="nav-item">
        <button mat-flat-button color="accent" (click)="navegar('usuario-inicioJugador')"><mat-icon fontIcon="home" class=""></mat-icon>Inicio</button>
      </li>
      <li class="nav-item">
        <button mat-flat-button color="accent" (click)="navegar('usuario-mapasJugador')">Mapas/Localizaciones</button>
      </li>
      <li class="nav-item">
        <button mat-flat-button color="accent" (click)="navegar('usuario-historiaJugador')">Historia</button>
      </li>
      <li class="nav-item">
        <button mat-flat-button color="accent" (click)="navegar('usuario-heroesJugador')">Fichas Heroes</button>
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!--Menu-->
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="example-spacer"></span>
      <a href="usuario-partidasUsuario">Salir Partida</a>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a href="perfil">
          <button mat-menu-item>Perfil</button>
        </a>
        <button mat-menu-item>Cerrar Sesion</button>
      </mat-menu>
    </mat-toolbar>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="nombreUbicacion">
        <th mat-header-cell *matHeaderCellDef> Nombre Ubicación </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreUbicacion}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="acceder">
        <th mat-header-cell *matHeaderCellDef> Más Información </th>
        <td mat-cell *matCellDef="let element"><button mat-button (click)="openDialog()">Acceder</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</mat-drawer-container>
