<h2 style="text-align: center;" mat-dialog-title>Usuario</h2>
<mat-dialog-content class="mat-typography">
  <form #infoForm="ngForm" (ngSubmit)="onSubmit(infoForm)">
    <mat-form-field class="example-full-width formField">
      <mat-label>Nombre Cuenta</mat-label>
      <input [(ngModel)]="usuario.nombre" name="nombre" matInput matInput value={{usuario.nombre}} placeholder="Nombre Cuenta">
    </mat-form-field>

    <mat-form-field class="example-full-width formField">
      <mat-label>Correo</mat-label>
      <input [(ngModel)]="usuario.email" name="email" matInput matInput value={{usuario.email}} placeholder="Correo">
    </mat-form-field>
    <button style="margin:1%;" mat-raised-button color="accent" [disabled]="infoForm.invalid" type="submit">Guardar</button>
    <button mat-raised-button color="accent" mat-dialog-close>Volver</button>
  </form>
</mat-dialog-content>
