<h2 style="text-align: center;" mat-dialog-title>Usuario</h2>
<mat-dialog-content class="mat-typography">
  <form class="inicio-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre Cuenta</mat-label>
      <input matInput matInput value="Pepe" placeholder="Nombre Cuenta">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Correo</mat-label>
      <input matInput matInput value="pepe@gmail.com" placeholder="Correo">
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Volver</button>
</mat-dialog-actions>
