<div ng-sidebar-content>
  <ul class="nav justify-content-center controlUl">
    <li class="nav-item controlNavbar">
      <h1 class="h1control">{{title}}</h1>
    </li>
    <li class="nav-item controlNavbar">
      <a class="nav-link" href="">Inicio</a>
    </li>
    <li class="nav-item controlNavbar">
      <a class="nav-link" href="#">Mas Información</a>
    </li>
    <li class="nav-item controlNavbar">
      <a class="nav-link" href="#">Mas sobre nosotros</a>
    </li>
    <li class="nav-item controlNavbar">
      <a class="nav-link" href="#">Contactanos</a>
    </li>
    <li class="nav-item controlNavbar">
      <a class="nav-link" href="panelControl-admin">Acceso temporal Admin</a>
    </li>
    <li class="nav-item controlNavbar">
      <a class="nav-link" href="usuario-partidasUsuario">Acceso temporal Usuario</a>
    </li>
    <li class="nav-item controlNavbar">
      <button class="button">Perfil</button>
    </li>
  </ul>
</div>
